  .line {
    border-top: 1px solid #DEE1E6; 
    width: 100%; 
    margin: 20px 0; 
  }

  .header {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 17px;
    padding: 20px 0; 
    position: relative; 
  }
  
  .header .back-button {
    position: absolute;
    left: 20px; 
    top: 20px; 
    font-size: 18px;
    cursor: pointer;
    color: #AEAEB2; 
    background: none; 
    border: none; 
    padding: 0;
  }
  
  .header-text {
    font-size: 13px;
    color: black;
    margin-bottom: 8px; 
  }

  
  .info-box {
    background-color: #ffffff;
    border-radius: 15px;
    position: relative;
    margin-top: 30px;
  }
  
  .info-section {
    margin-bottom: 24px;
  }
  
  .label-text {
    font-size: 13px; 
    color: #006359;
    background-color: #CCFFF8;
    height: 22px; 
    border-radius: 7px; 
    padding: 5px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    left: 10px; 
    white-space: nowrap; 
    width: auto; 
    border: 1px solid #7ED8CF; 
    box-sizing: border-box; 
    position: absolute; 
    top: 0px;  
    margin-left: 10px; 
  }

.text-container {
    display: flex;
    justify-content: space-between;  
    margin-top: 0px;  
    font-family: Pretendard-SemiBold;
}

.content-text {
    font-size: 15px;
    color: #009788  ;
    text-align: left; 
    margin-right: 50px;  
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Pretendard-SemiBold;
}

.content-text2 {
    font-size: 15px;
    color: #767676;
    text-align: right;  
    margin-left: 50px; 
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Pretendard-SemiBold;
}

  .stadium-map {
    width: 90%; 
    height: 300px; 
    border-radius: 10px;     
    background-position: center;
    background-size: cover;  
    padding: 10px;
    background-size: contain; /* 이미지 크기에 맞게 조정 */
    background-repeat: no-repeat;
    margin-left: 15px;
  }
  
  .parking-box {                
    margin-top: 0px;
    padding: 30px;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 15px;    
    position: relative;
  }
  
  .parking-header {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: Pretendard-SemiBold;
  }
  
  .parking-text {
    font-size: 13px;
    color: #797979;
    font-family: Pretendard-SemiBold;
  }
  
  .order-box {
    margin-top: 25px;
    padding: 20px;
    background-color: rgba(255, 96, 191, 1);
    border-radius: 15px;
    position: relative;
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    margin-left: 24px;
    margin-right: 24px;
    bottom: 25px;
    border: 1px solid #E8ECEF;
    box-shadow: 0px 4px 6px #E8ECEF;
    height: 99px;
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 텍스트와 이미지를 양쪽에 배치 */
    align-items: center; /* Y축 정렬 */
    width: calc(100% - 48px);  
    font-family: Pretendard-SemiBold;
}

.order-box:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px #B0BEC5;
  background-color: rgba(255, 96, 191, 1);
}

.order-image {
    max-width: 50px; 
    height: auto; 
    margin-right: 10px;
    width: 100%;
    height: auto;
    background-size: contain; /* 이미지 크기에 맞게 조정 */
}

.order-text {
  font-size: 18px;
  color: white;
  text-align: right;
  margin-left: 10px;
  text-align: left;
  
}
  
  .main-text{
    font-size: 16px;
    color: black;
    font-family: Pretendard-SemiBold;
    margin-bottom: 18px;
    margin-top: 21px;
  }

  .map-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    font-family: Pretendard-SemiBold;
  } 

  .view-details-button {
    font-size: 13px;
    color: #767676;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 24px;
    font-family: Pretendard-SemiBold;
  }

  .label {
    margin-right: 10px;
    font-family: Pretendard-SemiBold;
  }
  
  .time {
    margin-left: 10px;
    margin-right: 80px;
    font-family: Pretendard-SemiBold;
}

