.map-detail-container {
    padding: 20px;
    text-align: center;
  }
  
  .stadium-map-detail {
    width: 100%;
    height: auto;
    padding-bottom: 100%;  
    background-size: contain;  
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
  
  .line2 {
    border-top: 1px solid #DEE1E6; 
    width: 100%; 
    margin: 40px 0; 
  }
  