html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.comuMcon1 {
    flex: 1;
    overflow: auto;
    background-color: #F2F3F5;
}

.nav-bar {
    height: 106px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
    background-color: white;
}

.nav-item {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

#comuMcon2 {
    width: auto;
    height: 40px;
    padding: 0;
    padding: 5px 0;
    align-content: center;
    font-size: 20px;
}

.nav-item p {
    display: inline-block;
    margin: 0;
    color: #AEAEB2;
}

.nav-item:hover::after,
.nav-item.selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #7ED8CF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    margin: auto 0;
}

.nav-item.selected p {
    color: black;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.nav-item.selected::after {
    transform: scaleX(1);
}

.displayCon1 {
    height: 211px;
    background-color: #009788;
    margin-top: 1px;
    position: relative;
}

.displayB {
    width: 100px;
    height: 27px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    border: none;
    color: #767676;
    float: right;
    margin: 10px;
}

.displayText {
    position: absolute;
    bottom: 22px;
    left: 24px;
    color: white;
    font-size: 30px;
}

.comuMcon3 {
    padding-top: 21px;
    height: auto; /* 높이를 auto로 설정 */
    padding-bottom: 93px;
}

.comuCon3_2 {
    height: auto; /* 높이를 auto로 설정 */
    align-content: center;
    text-align: center;
}

.comuCon4_2 {
    width: 340px;
    height: 105px;
    background-color: white;
    border-color: #DEE1E6;
    border-radius: 15px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin: auto 0;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.04);
}

#comuBtn {
    position: fixed;
    bottom: 100px; /* 필요에 따라 조정 */
    right: 24px;  /* 필요에 따라 조정 */
    z-index: 1000; /* 버튼이 항상 위에 있도록 설정 */
}