.comuDcon1 {
    height: 100%;
    background-color: #F2F3F5;
}

.comuTcon {
    background-color: white;
}

.comuDcon2 {
    height: auto;
    background-color: white;
    border-bottom: solid 1px #E8ECEF;
    position: relative;
}

.comuDcon2::after {
    content: "";
    display: block;
    height: 50px; /* 추가적인 높이 */
}

.comuDcon3 {
    margin-left: 24px;
    padding-top: 31px;
    display: flex;
}

#comuUser {
    display: inline-block;
    position: relative;
    align-content: center;
}

#uname, #utime {
    width: 100px;
}

#uname {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 3px;
}

#utime {
    font-size: 13px;
    color: #767676;
}

#dotIcon1 {
    position: absolute;
    right: 24px;
}

#utext {
    width: 85%;
    height: calc(auto + 100px);
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
}

.comuProfile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px #E8ECEF solid;
    background-color: rgba(28, 130, 96, 0.682);
    display: inline-block;
    margin-right: 15px;
}

.comuDcon4 {
    position: absolute;
    bottom: 15px;
    right: 24px;
}

#comuHtext_2, #comuCtext_2 {
    display: inline-block;
    font-size: 14px;
    color: #AEAEB2;
    transform: translateY(-3px);
}

#comuHtext_2 {
    margin: 3px;
}

#comuCtext_2 {
    margin-left: 3px;
}

.commentBcon {
    margin-top: 10px;
}

#commentBtn {
    font-size: 14px;
    color: #767676;
    margin-left: 5%;
}

.commentWrite {
    width: 100%;
    margin-top: 8px;
    text-align: center;
}

#commentBox {
    width: 80%;
    border: none;
    border-radius: 15px;
    align-content: center;
    padding: 23px 5%;
}

.comuDcon5 {
    background-color: #F2F3F5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* 필요에 따라 조정 */
}

.comuDcon8 {
    margin-top: 14px;
    width: 90%;
    position: relative; /* absolute 대신 relative 사용 */
    height: auto; /* 높이를 내용에 맞게 조정 */
}


.comuDcon6 {
    background-color: white;
    width: 345px;
    border-radius: 15px;
    padding-top: 18px;
    padding-bottom: 20px;
    width: 100%;
}

.cmtCon {
    display: flex;
}

.comuProfile2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(28, 130, 96, 0.682);
    display: inline-block;
    margin-right: 15px;
    margin-left: 20px;
    border: 1px #E8ECEF solid;
}

#dotIcon2 {
    position: absolute;
    right: 20px;
}

#cmtText {
    font-size: 14px;
    width: 90%;
    margin: 13px auto 0;
}