.container {
    height: auto;
    overflow: auto;
    padding-bottom: 100px; /* 하단 네비게이션바 높이만큼 여백 추가 */
}

.container3 {
    width: auto;
    height: 160px;
    background-color: #006359;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 아래쪽으로 정렬 */
    position: relative; /* 추가 */
}

.container4 {
    position: relative; /* 추가 */
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    height: 74px;
    width: 100%;
    display: block;
    margin: 0;
    align-content: center;
    text-align: center;
    z-index: 1;
}

.container4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2; /* 배경에만 투명도 적용 */
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    z-index: -1; /* 배경이 텍스트 뒤에 위치하도록 설정 */
}

#today {
    color: white;
    font-size: 18px;
    width: 50%;
    margin: 0 0 12px 24px;
}

.dayCon1 {
    width: 13%;
    height: 55px;
    display: inline-block;
    z-index: 2;
    position: relative; /* 추가 */
}

.dayCon2 {
    width: 42px;
    height: 55px;
    border-radius: 10px;
    align-content: center;
}

.selected {
    color: #009788;
    background-color: white;
}

#day, #day2 {
    color: white;
    margin: 0;
    width: auto;
    height: auto;
    text-align: center;
}

#day.selected, #day2.selected {
    color: #009788;
}

#titleText {
    margin: 32px 0 0 24px;
    font-size: 18px;
    font-weight: bold;
}

.nav1 {
    width: 100%;
    height: 100%; /* nav의 고정 높이 설정 */
    background-color: #FFFFFF;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 줄바꿈 방지 */
    border: 0;
    margin-top: 15px;
}

.schedule {
    width: auto; /* 예시로 긴 너비 설정 */
    height: 250px;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 줄바꿈 방지 */
    margin-right: 24px;
}

.scheduleCon {
    width: 301px;
    height: 230px;
    margin-left: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.scheduleCon1 {
    width: 100%;
    height: 132px;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.scheduleCon2 {
    width: 100%;
    height: 98px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    position: relative;
}

#title, #time, #ground {
    margin: auto 0;
    width: auto;
    display: inline-block;
}

#time, #reservation {
    display: inline-block;
}

#title {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 13px;
    font-size: 16px;
    float: left;
}

#title1, #title2, #title3 {
    display: inline-block;
}

#title2 {
    margin: 0 3px;
}

#time {
    font-size: 14px;
    color: #767676;
    float: right;
    margin-top: 13px;
    margin-right: 20px;
}

#ground {
    font-size: 14px;
    color: #767676;
    margin-left: 20px;
    margin-top: 5px;
    display: block;
    width: auto;
    text-align: start;
    float: inline-start;
}

#reservation {
    position: absolute; /* 추가 */
    right: 20px; /* 오른쪽으로 이동 */
    bottom: 12px; /* 아래쪽으로 이동 */
    margin-bottom: 2px;
    width: 77px;
    height: 29px;
    border-radius: 10px;
    border: none;
    background-color: #7ED8CF;
    cursor: pointer;
}

#reservation.clicked {
    background-color: #38AE9F;
}

@keyframes changeColor {
    0% {
        background-color: #009788;
    }
    50% {
        background-color: #005f4b;
    }
    100% {
        background-color: #009788;
    }
}

#buttonText {
    font-size: 14px;
    color: white;
}

.container5, .container6 {
    width: 327px;
    height: 99px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    align-items: center; /* 상하 중앙 정렬 */
    justify-content: space-between; /* 좌우 공간 분배 */
}

.container5 {
    background-color: #6563F1;
    margin-top: 40px;
}

.container6 {
    background-color: #FF60BF;
    margin-top: 20px;
}

#rinkText {
    display: inline-block;
    margin-left: 24px;
}

#icon1 {
    display: inline-block;
    margin-right: 29px;
}

#explan {
    margin-left: 24px;
}

.nav2 {
    width: 100%;
    height: 100%; /* nav의 고정 높이 설정 */
    background-color: #FFFFFF;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 줄바꿈 방지 */
    border: 0;
    margin-top: 15px;
}

.con1 {
    width: auto; /* 예시로 긴 너비 설정 */
    height: 250px;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 줄바꿈 방지 */
    margin-right: 24px;
}

.con2 {
    width: 311px;
    height: 128px;
    margin-left: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.conTop {
    width: 100%;
    height: 48px;
    background-color: #E8ECEF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.conBottom {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    position: relative;
}