nav{
    width: 100%;
    height: 100%;
    background-color: #1B7065;
    margin: 0;
    padding: 0;
}

#name {
    color: white;
    margin-top: 35px;
    margin-left: 24px;
    font-size: 20px;
    margin-bottom: 13px;
}

.serch {
    background-color: white;
    color: #AEAEB2;
    width: 85%;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    margin-left: 5%;
    text-align: left;
    align-content: center;
    margin-top: 0;
}

#input {
    width: 200px;
    font-size: 16px;
}

.container2 {
    background-color: white;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    height: 80%;
    width: 100%;
    margin-top: 3%;
    display: block;
    padding-top: 5%;
    padding-left: 0;
    align-content: flex-start;
    text-align: left;
}

.display {
    border: solid 1.5px;
    border-color: #7ED8CF;
    border-radius: 20px;
    width: 85%;
    height: 99px;
    align-content: center;
    margin: 0 auto;
    text-align: left;
}

.text {
    margin-left: 5%;
    width: 200px;
}

#beer1 {
    margin-bottom: 4px;
    width: 100%;
    font-size: 14px;
}

#beer2 {
    margin-top: 4px;
    font-size: 18px;
    margin-bottom: 0;
}

#text2 {
    margin-top: 5%;
    margin-left: 24px;
    font-size: 15px;
}

.category {
    margin-left: 24px;
}

#block {
    width: 45px;
    height: 23px;
    background-color: #DEE1E6;
    border-radius: 10px;
    font-size: 15px;
    color: #767676;
    text-align: center;
    align-content: center;
    display: inline-block;
    margin-left: 5px;

}

.category #block {
    cursor: pointer;
    margin-bottom: 10px;
}

.category #block.active {
    background-color: #009788;
    color: white;
}

.store {
    width: 100%;
    height: 132px;
    border: solid 1px;
    border-color: #E8ECEF;
}

.storeIfo {
    display: inline-block;
    
}