@font-face {
  font-family: 'Pretendard-Bold'; /* 사용할 폰트의 이름을 정의 */
  src: url('./fonts/Pretendard-Bold.otf'); /* 폰트 파일의 위치 */
}
@font-face {
  font-family: 'Pretendard-Medium'; /* 사용할 폰트의 이름을 정의 */
  src: url('./fonts/Pretendard-Medium.otf'); /* 폰트 파일의 위치 */
}
@font-face {
  font-family: 'Pretendard-SemiBold'; /* 사용할 폰트의 이름을 정의 */
  src: url('./fonts/Pretendard-SemiBold.otf'); /* 폰트 파일의 위치 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pretendard-SemiBold", 'Pretendard-Medium', 'Pretendard-Bold';
}

body {
  min-height: 100vh;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}