/* nav태그 아래의 자식들을 수평정렬하기 위한 설정 */
nav {
  overflow: hidden;
  border: solid 1px;
  border-color: #DEE1E6;
  width: 100%;
}
/* nav태그 아래의 div태그들을 수평정렬 및 세로길이 설정 */
nav > div {
  /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
  text-align: center;
  float: left;
  width: 20%;

  /* 세로길이 설정 */
  height: 100%;
  line-height: 100%;
  align-content: center;
}

#footer {
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
  padding: 0;
}

.wrapper div {
  padding: 0;
  cursor: pointer;
}

.wrapper div.active {
  color: #009788;
}
